.font-aligin-left /*字体靠左*/
{
    text-align:left;
}
.common-form
{
    margin:10px;
}
.commom-btnCenter-two
{
    margin-left:calc(50% - 69px);
}
.common-tr-btn-height
{
    height:28px;
    line-height:28px;
}
.common-hide
{
    display:none;
}
.common-readonly
{
    background-color:#c1c1c1;
    cursor:no-drop;
}
.margin-left-right-ten
{
    margin:0 0 0 10px;
    cursor:pointer;
}