<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../Blue/layui/css/layui.css" rel="stylesheet" />
    <link href="../Blue/CSS/common.css" rel="stylesheet" />
    <link href="../Blue/CSS/init.css" rel="stylesheet" />
    <link href="../Blue/CSS/navigate.css" rel="stylesheet" />
    <script src="../Blue/layui/layui.js"></script>
    <script src="../Blue/jquery-3.3.1/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div>
        <table id="RoleTable" class="body-div-table-margin"></table>
    </div>
    <script src="../Blue/JS/Role.js"></script>
</body>
</html>